<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
    <style>
        .item-image {
            height: 8rem;  /*Or the height that fits within your row*/
            width: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>URL</th>
        <th>Title</th>
        <th>Time Remaining</th>
        <th>Current Bid</th>
        <th>Next Bid</th>
        <th>Bids Count</th>
        <th>Pictures</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="{{ item[0] }}">{{ item[0] }}</a></td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>{{ item[4] }}</td>
        <td>{{ item[5] }}</td>
        <td>{{ item[6] }}</td>
        <td>
           <img class="item-image" src="{{ item[7][0] if item[7] else '' }}" alt="Picture">
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>