<!DOCTYPE html>
<html>

<head>

    <title>Items</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <tr>
        <th>URL</th>
        <th>Location</th>
        <th>Title</th>
        <th>Time Remaining</th>
        <th>Current Bid</th>
        <th>Next Bid</th>
        <th>Bids Count</th>
        <th>Condition</th>
        <th>Pictures</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="{{ item[0] }}">{{ item[0] }}</a></td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>{{ item[4] }}</td>
        <td>{{ item[5] }}</td>
        <td>{{ item[6] }}</td>
        <td>{{ item[7] }}</td>
        <td>
           <img class="item-image" src="{{ item[8][0] if item[8] else '' }}" alt="Picture">
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>